section input[value='firework']:checked {
  /* height: 1em; */
  /* width: 1em; */
  /* border: 1px solid red; */
}

section[name='first-fw'] {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #0E00AC 0%, #222ABB 10.82%, #65B2EA 64.47%, #6CC1EF 83.22%, #83F0FF 100%);
}

section[name='first-fw'] > div {
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  /* left: calc(50% - 15em); */
  /* transform: translateY(-5em, 1em); */
  /* transform: translateY(10vh) scale(0); */
  position: absolute;
  width: 20em;
  height: 30em;
  /* margin: 0 auto; */
}

input[type='checkbox'] {
  -moz-appearance: initial;
  appearance: initial;
}

section[name='first-fw'] input {
  z-index: 999;
  display: block;
}

section[name='first-fw'] input[value='firework'] {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  width: 2em;
  height: 2em;
}

input[value='firework']:before {
  /* display: block; */

  /* position: fixed; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  z-index: 5;
  content: url(../assets/images/Lighter_off.svg);
  height: 100px;
  width: 25px;
}
input[value='firework']:checked:before {
  content: url(../assets/images/Lighter.svg);
}

section[name='first-fw'] input[value='firework']:checked ~ div > div {
  animation: fireworks 3s ease-out infinite;
}

section[name='first-fw'] input[value='firework']:checked ~ div div > div {
  animation: fireworks-ception 3s ease-out infinite;
}
section[name='first-fw'] input[value='firework']:checked ~ section {
  height: 2em;
  width: 2em;
  background: #000;
}

section[name='first-fw']:has(input[value='firework']) {
  position: relative;
  width: auto;
  background: linear-gradient(
    180deg,
    #0e00ac 0%,
    #222abb 10.82%,
    #65b2ea 64.47%,
    #6cc1ef 83.22%,
    #83f0ff 100%
  );
  transition: background 1s ease-out;
}

section[name='first-fw']:has(input[value='firework']:checked) {
  background: linear-gradient(
    180deg,
    #0e00ac 0%,
    #222abb 10.82%,
    #65b2ea 64.47%,
    #6cc1ef 83.22%,
    #83f0ff 100%
  );
  /* background: linear-gradient(180deg, #000000 0%, #0e01ac 100%); */
  transition: background 1s ease-out;
}

section[name='first-fw'] div div {
  z-index: 1;
  position: absolute;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #f00;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

section[name='first-fw'] div div div {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  animation-delay: 1s;
  /* opacity: 0; */
  width: 1em;
  height: 1em;
  /* top: 50%; */
  /* left: 50%; */
  /* left: 50%; */
  /* top: 50%; */
}
section[name='first-fw'] div div:not(:nth-child(6)),
section[name='first-fw'] div div div {
  opacity: 0;
}

section[name='first-fw'] div div:nth-child(1),
section[name='first-fw'] div div div:nth-child(1) {
  top: 50%;
  left: 50%;
  background: var(--color-green);
}

section[name='first-fw'] div div:nth-child(2),
section[name='first-fw'] div div div:nth-child(2) {
  top: 10%;
  left: 50%;
  background: var(--color-green);
}
section[name='first-fw'] div div:nth-child(3),
section[name='first-fw'] div div div:nth-child(3) {
  top: 25%;
  left: 75%;
  background: var(--color-purple);
}
section[name='first-fw'] div div:nth-child(4),
section[name='first-fw'] div div div:nth-child(4) {
  top: 50%;
  left: 90%;
  background: var(--color-green);
}
section[name='first-fw'] div div:nth-child(5),
section[name='first-fw'] div div div:nth-child(5) {
  top: 75%;
  left: 75%;
  background-color: #1cb5e0;
}

section[name='first-fw'] div div:nth-child(6),
section[name='first-fw'] div div div:nth-child(6) {
  top: 90%;
  left: 50%;
  background: black;
}

section[name='first-fw'] div div:nth-child(7),
section[name='first-fw'] div div div:nth-child(7) {
  top: 75%;
  left: 25%;
  background: var(--color-orange);
}

section[name='first-fw'] div div:nth-child(8),
section[name='first-fw'] div div div:nth-child(8) {
  top: 50%;
  left: 10%;
  background: var(--color-yellow);
}
section[name='first-fw'] div div:nth-child(9),
section[name='first-fw'] div div div:nth-child(9) {
  top: 25%;
  left: 25%;
  background: var(--color-blue);
}

section[name='first-fw'] footer {
  position: absolute;
  border-radius: 50% 50% 0 0;
  bottom: 0;
  max-height: 30em;
  height: 3em;
  width: 100%;
  z-index: 0;
  background: var(--color-green);
}

@keyframes fireworks {
  0% {
    opacity: 0;
    transform: scale(0.2);
    top: 90%;
    left: 50%;
  }
  10% {
    opacity: 1;
    transform: scale(0.2);
    top: 50%;
    left: 50%;
  }
  20% {
    opacity: 1;
    transform: scale(0.5);
  }
  50% {
    opacity: 0.8;
    transform: scale(1.5);
  }
  90% {
    opacity: 0.5;
    transform: scale(1);
    background-color: transparent;
  }
  100% {
    opacity: 0;
    transform: scale(4);
    background-color: transparent;
  }
}

@keyframes fireworks-ception {
  0% {
    opacity: 0;
    transform: scale(1);
    top: 90%;
    left: 50%;
  }
  10% {
    opacity: 0;
    transform: scale(0.5);
    top: 50%;
    left: 50%;
  }
  20% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 0;
    transform: scale(0.1);
  }
  70% {
    opacity: 0.5;
    top: 50%;
    left: 50%;
    transform: scale(0.5);
  }
  80% {
    /* z-index: 999; */
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
