* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Variables */
:root {
  color-scheme: light dark;
  --color-white: #fff;
  --color-black: #000;

  --color-red: #ff4b2b;
  --color-blue: rgb(42, 95, 241);
  --color-blue-light: #6cc1ef;
  --color-blue-500: #0083b0;
  --color-blue-dark: #000046;

  --color-green: #5ec08c;
  --color-green-2: #00cdac;
  --color-yellow-light: #f3f9a7;
  --color-yellow: #ffff1c;
  --color-orange: #f5af19;
  --color-orange-dark: #fc4a1a;
  --color-purple: purple;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-black);
    --color-text: var(--color-white);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: var(--color-blue-light);
    --color-text: var(--color-black);
  }
}

html {
  height: 100vh;
  overflow: hidden;
}

body {
  perspective: 1px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  transform-style: preserve-3d;
}

body {
  /* font-family: 'Tilt Warp', cursive; */
  font-size: 16px;
  background-color: var(--color-background);
  color: var(--color-text);
  /* min-height: 100vw; */
  /* max-width: 75em; */
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--color-background);
  /* background: radial-gradient(
    circle,
    rgba(195, 88, 34, 1) 0%,
    rgba(83, 43, 193, 1) 4%,
    rgba(193, 191, 52, 1) 8%,
    rgba(69, 65, 193, 1) 18%,
    rgba(193, 178, 79, 1) 29%,
    rgba(83, 43, 193, 1) 35%,
    rgba(115, 191, 139, 1) 43%,
    
    rgba(83, 43, 193, 1) 50%,
    rgba(195, 88, 34, 1) 62%,
    rgba(186, 189, 91, 1) 72%,
    rgba(130, 191, 129, 1) 75%,
    rgba(205, 188, 78, 1) 80%,
    rgba(83, 43, 193, 1) 85%,
    rgba(227, 188, 63, 1) 100%
  ); */
  /* overflow-x: hidden; */
}

h1 {
  font-family: 'Tilt Prism', cursive;
}

main {
  /* height: fit-content; */
  /* height: 100vh; */
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section {
  /* position: sticky; */
  top: 0;

  /* padding: 1em; */

  /* border-radius: 1em; */
}

section {
  /* scroll-snap-align: center; */
  min-height: 80%;
  /* border: 1px solid red; */
  container-type: inline-size;
  /* border-bottom: 1px solid red; */
}

section:nth-child(1) {
  border: 10px solid blue;
  display: flex;
  align-content: center;
  justify-content: space-around;
}
/* 
section[name="fourth-fw"] ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
} */

ul li {
  list-style: none;
}
/* 
section[name="fourth-fw"] ul li {
  background-color: red;
  width: 1em;
  height: 1em;
  padding: 1em;
  margin: 1em;

  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
} */

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 50%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/* 
section > div {
  position: relative;
  width: 100%;
  /* height: 50%; */
/* margin: 0 auto; */
/* }  */

section:nth-child(1) {
  /* background: linear-gradient(
    180deg,
    #5b211d 0%,
    #3e1312 19.1%,
    #4d1b18 49.3%,
    #fba810 49.31%,
    #d52e32 60.24%,
    #542118 100%
  ); */
  background: linear-gradient(180deg, #000000 0%, #0e01ac 100%);

  transition: background 1s ease-out;
  position: relative;
  /* background-image: linear-gradient(black, rgb(8, 8, 70)); */
  height: 100vh;
  overflow: hidden;
}

section:nth-child(1) span:nth-child(1),
section:nth-child(1) span:nth-child(2),
section:nth-child(1) span:nth-child(3),
section:nth-child(1) span:nth-child(4) {
  display: block;
  position: absolute;
  top: 20%;
  left: 50%;
  background-image: radial-gradient(var(--color-yellow), black),
    radial-gradient(var(--color-red), black),
    radial-gradient(rgb(255, 0, 149), black),
    radial-gradient(rgb(153, 0, 255), black),
    radial-gradient(rgb(255, 0, 149), black),
    radial-gradient(rgb(255, 0, 170), black),
    radial-gradient(rgb(0, 255, 170), black),
    radial-gradient(rgb(153, 0, 255), black),
    radial-gradient(rgb(255, 0, 149), black),
    radial-gradient(rgb(0, 174, 255), black),
    radial-gradient(rgb(0, 255, 170), black),
    radial-gradient(rgb(153, 0, 255), black),
    radial-gradient(rgb(0, 255, 170), black),
    radial-gradient(rgb(153, 0, 255), black),
    radial-gradient(rgb(255, 0, 149), black),
    radial-gradient(rgb(200, 255, 0), black),
    radial-gradient(rgb(0, 255, 170), black),
    radial-gradient(rgb(0, 140, 255), black),
    radial-gradient(rgb(255, 217, 0), black),
    radial-gradient(rgb(0, 140, 255), black), radial-gradient(red, black),
    radial-gradient(rgb(166, 255, 0), black),
    radial-gradient(rgb(166, 255, 0), black),
    radial-gradient(rgb(255, 0, 149), black);
  background-position: 95% 30%, 50% 0%, 100% 10%, 20% 10%, 50% 50%, 30% 30%,
    0% 50%, 80% 25%, 50% 30%, 80% 50%, 100% 60%, 80% 80%, 20% 85%, 0 25%,
    55% 65%, 85% 0, 50% 100%, 70% 90%, 10% 70%, 70% 70%, 30% 70%, 20% 40%,
    40% 90%, 90% 90%;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  animation: fireworks-bg 10s infinite;
  opacity: 1;
  z-index: 99999;
}

section:nth-child(1) span:nth-child(2) {
  top: 30%;
  left: 30%;
  /* transform: translate(10%, 30%); */
  animation-delay: 0.5s;
}

section:nth-child(1) span:nth-child(3) {
  top: 80%;
  left: 70%;
  animation-delay: 0.75s;
}

section:nth-child(1) span:nth-child(4) {
  top: 70%;
  left: 20%;
  animation-delay: 1.75s;
}

section:nth-child(1) {
  container-type: inline-size;
  width: 100%;
}

@container (width < 500px) {
  section:nth-child(1) span:nth-child(2) {
    opacity: 0;
    background-image: none;
  }
}

@container (width < 800px) {
  section:nth-child(1) span:nth-child(3) {
    opacity: 0;
    background-image: none;
  }
}

@container (width < 1200px) {
  section:nth-child(1) span:nth-child(4) {
    opacity: 0;
    background-image: none;
  }
}

@keyframes fireworks-bg {
  0% {
    /* width: 250px; */
    /* height: 250px; */
    opacity: 0;
    transform: translateY(100vh);
  }

  50% {
    width: 10px;
    height: 10px;
    opacity: 1;
  }

  75% {
    width: 10px;
    height: 10px;
    opacity: 1;
  }

  100% {
    width: 250px;
    height: 250px;
    opacity: 0;
  }
}