* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Variables */
:root {
  color-scheme: light dark;
  --color-white: #fff;
  --color-black: #000;

  --color-red: #ff4b2b;
  --color-blue: rgb(42, 95, 241);
  --color-blue-light: #6CC1EF;
  --color-blue-dark: #000046;
  --color-green: #5ec08c;
  --color-yellow: #ffff1c;
  --color-orange: orange;
  --color-purple: purple;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(var(--color-black));
    --color-text: var(var(--color-white));
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: var(--color-blue-light);
    --color-text: var(var(--color-black));
  }
}

body {
  font-size: 16px;
  background-color: var(--color-background);
  color: var(--color-text);
  min-height: 100vw;
  max-width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--color-background);
  /* background: radial-gradient(
    circle,
    rgba(195, 88, 34, 1) 0%,
    rgba(83, 43, 193, 1) 4%,
    rgba(193, 191, 52, 1) 8%,
    rgba(69, 65, 193, 1) 18%,
    rgba(193, 178, 79, 1) 29%,
    rgba(83, 43, 193, 1) 35%,
    rgba(115, 191, 139, 1) 43%,
    
    rgba(83, 43, 193, 1) 50%,
    rgba(195, 88, 34, 1) 62%,
    rgba(186, 189, 91, 1) 72%,
    rgba(130, 191, 129, 1) 75%,
    rgba(205, 188, 78, 1) 80%,
    rgba(83, 43, 193, 1) 85%,
    rgba(227, 188, 63, 1) 100%
  ); */
}

section {
  min-height: 100cqb;
  border: 1px solid red;
}

section:nth-child(1) {
  display: flex;
  align-content: center;
  justify-content: space-around;
}

main section ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

main section ul li {
  list-style: none;
}

main section ul li {
  background-color: red;
  width: 1em;
  height: 1em;
  padding: 1em;
  margin: 1em;

  animation-duration: 3s;
  /* animation-name: slidein; */
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 50%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

section div {
  position: absolute;
  width: 80%;
  height: 80%;
}
section input {
  z-index: 999;
}

section input[value='firework'] {
  position: absolute;
  bottom: 2em;
}

section input[value='firework']:checked {
  height: 1em;
  width: 1em;
  border: 1px solid red;
}

section input[value='firework']:checked ~ div div {
  animation: fireworks 3s ease-out infinite;
}
section[name='first-fw'] div div {
  position: absolute;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #f00;
}




section div div:not(:nth-child(6)) {
  opacity: 0;
}

section div div:nth-child(1) {
  top: 50%;
  left: 50%;
  background: var(--color-green);
}

section div div:nth-child(2) {
  top: 10%;
  left: 50%;
  background: var(--color-green);
}
section div div:nth-child(3) {
  top: 25%;
  left: 75%;
  background: var(--color-purple);
}
section div div:nth-child(4) {
  top: 50%;
  left: 90%;
  background: var(--color-green);
}
section div div:nth-child(5) {
  top: 75%;
  left: 75%;
  background-color: #1cb5e0;
}

section div div:nth-child(6) {
  top: 90%;
  left: 50%;
  background: black;
}

section div div:nth-child(7) {
  top: 75%;
  left: 25%;
  background: var(--color-orange);
}

section div div:nth-child(8) {
  top: 50%;
  left: 10%;
  background: var(--color-yellow);
}
section div div:nth-child(9) {
  top: 25%;
  left: 25%;
  /* background: var(--color-blue); */
}

@keyframes fireworks {
  0% {
    opacity: 0;
    transform: scale(0.5);
    top: 90%;
    left: 50%;
  }
  10% {
    opacity: 1;
    transform: scale(0.5);
    top: 50%;
    left: 50%;
  }
  20% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.8;
    transform: scale(1.5);
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}
