section[name='second-fw'] h1 {
  font-size: 3em;
  align-self: center;
  width: 100%;
  text-align: center;
   text-transform: uppercase;
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  /* background: black; */
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: radial-gradient(
    circle,
    #fff800 0%,
    #fff800 100%
  );
  display: inline-block;
  text-align: center;
      /* font-size: 190px; */
}

section[name='second-fw'] {
  display: flex;
  align-content: center;
  justify-content: center;
}

@media (prefers-color-scheme: dark) {
section[name='second-fw'] h1 {
  /* background: none; */
  background-image: radial-gradient(
    circle,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
    animation: textclip 2s linear infinite;
}


@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

}
